<%= link_to "Sign out", signout_path, id: "sign_out" %>
<%= link_to "View program", programs_path %>

 <div id="wrap">

  <div id="photo">
    Photo
    </div>

  <div id="progress">
    current progress bar
  </div>


  <div id="name">
  Username
  Full name
  <%= link_to "Edit", edit_user_path %>
  </div> 

  <div id="goal">
    Current Goal
  </div>

  <div id="prevPrograms">
    <%= link_to "Programs Completed" %>
    clickable div to show previous programs completed
   </div>

  <div id="inspiredBy">
    <%= link_to "Inspired By" %>
    <!-- clickable div to show people/programs that inspire you -->
   </div>
</div>
<div id="contacts">
    <%= link_to "Contacts" %>
    <%= link_to "Pep" %>
    <%= link_to "Following" %>
    <!-- linkable number of contacts, pep, and following -->
   </div>  

  
  <p> Username: <%= @user.name %></p>
  <h2>Friends</h2>
  <ul>
    <% for friendship in @user.friendships %>
    <li>
      <%= friendship.friend.name %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
    <% end %>
  </ul>

  <p><%= link_to "Find Friends", users_path %></p>

  <h2> Friended by users </h2>
  <ul>
    <% for user in @user.inverse_friends %>
    <li><= user.name %></li>
    <% end %>
  </ul>